@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* banner parts design starts Here */
.banner-parts{
    width: 90%;
    height: 600px;
    background: #161616;
    border-radius: 30px;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}
.banner-part{
    display: flex;
    align-items: center;
    color: white;
    padding-top: 50px;
    justify-content: center;
    
}
.banner-details{
    width: 500px;
    padding-left: 50px;
}
.banner-details h1{
    font-size: 50px;
    margin-bottom: 0;
}
.banner-image img{
    width: 522px;
    padding-left: 100px;
}
.banner-button{
    background-color: #DD0000;
    text-decoration: none;
    color: white;
    padding: 12px;
    border-radius: 5px;
}

/* Video Part Style Here */
.middle-parts{
    width: 90%;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
}
.middle-part{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.bars{
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border-radius: 10px;
}
.video-parts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 50px;
}
.video-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 15px;
}
.video-part-details{
    padding: 5px;
}
.video-part a{
    text-decoration: none;
    border: 1px solid #161616 ;
    color: #161616;
    padding: 0 10px;
    margin-right: 210px;
    border-radius: 5px;
}
.video-part p{
    width: 300px;
}
.bars-button{
    text-decoration: none;
    background-color: white;
    color: #161616;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 20px;
}
.bars-button:hover{
    background-color: #DD0000;
    color: white;
}
.button-color-fixed{
    background-color: #DD0000;
    color: white;
}
/* Button part style here */
.button-part{
    margin: 20px;
    text-align: center;
}
.button{
    background-color: #DD0000;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    visibility: hidden;
}


/* Footer Part style start Here */
.last-part{
    background-color: #161616;
    width: 100%;
    color: white;
    text-align: center;
    height: 300px;
    padding-top: 20px;

}
.last-part h1{
    font-size: 40px;
}
.last-part hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 120px;
}
.last-part-details {
    display: flex;
    justify-content: center;
}
.last-part-details p{
    margin-left: 30px;
}
.fa-brands{
    color: aliceblue;
    margin-left: 15px;
    font-size: 30px;
}

/*----------------------------- 
Upcoming Match page style here 
------------------------------*/
.match-flags{
    display: flex;
    text-align: center;
}
.match-flags img{
    padding: 25px;
}
.match-details{
    text-align: center;
}
.match-details h5{
    margin: 0;
    margin-bottom: 40px;
}
.match-details h1{
    margin-bottom: 0;
    margin-top: 5px;
}

/*------------------------- 
Media queries Start Here 
---------------------------*/
@media only screen and (max-width: 375px) {
    /* banner part media */
    .banner-part{
        flex-direction: column;
    }
    .banner-details{
        width: 300px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .banner-details h1{
        font-size: 25px;
    }
    .banner-details p{
        font-size: 10px;
        padding-bottom: 10px;
    }
    .banner-image img{
        width: 300px;
        margin: 0;
        margin-top: 34px;
        margin-left: 20px;
        padding: 0;
    }

    /* middle part media */
    .middle-part{
        flex-direction: column;
        align-items: center;
    }
    .video-parts{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .bars{
        background-color: white;
    }
    .bars-button{
        border: 1px solid #E8E8E8
        ;
        border-radius: 10px;
    }
    /* Footer Part Media */
    .last-part{
        height: 100%;
    }
    .last-part-details{
        flex-direction: column;
        height: 100%;
    }
    .last-part-details p{
        margin: 10px auto;
        
    }
}
@media only screen and (min-width: 376px) and (max-width: 834px){
    /* banner part start Here */
    .banner-parts{
        width: 90%;
        height: 450px;
        background: #161616;
        border-radius: 30px;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
    }
    .banner-part{
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
        align-items: flex-start;
        
    }
    .banner-details{
        width: 500px;
        padding-left: 50px;
    }
    .banner-image img{
        width: 380px;
        padding-left: 10px;
        padding-right: 15px;
        
    }
    .banner-details h1{
        font-size: 40px;
        margin: 0;
    }
    .banner-details p{
        font-size: 12px;
        padding-bottom: 20px;
    }
    /* middile part start here */
    .middle-part{
        flex-direction: column;
        align-items: center;
    }
    .video-parts{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        
    }
    .bars{
        margin: 0 auto;
        flex-direction: row;
        background-color: white;
    }
    .bars-button{
        border: 1px solid #E8E8E8
        ;
        border-radius: 10px;
    }
    /* View all button style start here */
    .button{
        visibility: visible;
    }
    /* Last part Style Here */
    .last-part-details{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 100px;
        font-size: 15px;
    }
    .last-part-details p{
        margin-left: 0;
    }
}